@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
 
 
body {
   font-family: 'Quicksand',sans-serif;
   margin: 0;
   padding: 0;
   background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

/* HEADER */
header {
   display: inline;
}

nav {
    position: sticky;
    top: 0;
    background-image: linear-gradient(to bottom, #c1dfc4 0%, #deecdd 100%);z-index: 2;
}
.container {
    display: flex;
 
           /* Properti lainnya */
           margin: 0 auto;
}

.boxnav {
    flex-basis: 10%;
    padding: 10px;
    text-align: right;
}

.kategori {
    flex-basis: 30%;
}

.double {
    flex-basis: 90%;
    text-align: center;
}

.profile {
    flex-basis: 20%;
    text-align: center;
}

.boxnav a {
   font-size: 18px;
   font-weight: 400px;
   text-decoration: none;
   color: black
}

nav a:hover {
    font-weight: bold;
}

.jumbotron {
    /* height: 290px; */
    font-size: 30px;
    padding: 10px;
    text-align: center;
    color: black;
    /* margin: 0 auto; */
}
.center {
    margin: 0 auto;
}

.home {
    float: right;
    width: 300px;
}
.lineDiv1 {
    width: 100%;
    height: 130px;
    border: solid 5px rgb(59, 106, 91);
    border-color: transparent transparent rgb(59, 106, 91) transparent;
    border-radius: 0 0 260px 50%/60px;
}
.lineDiv2 {
    width: 100%;
    height: 130px;
    border: solid 5px rgb(59, 106, 91);
    border-color: rgb(59, 106, 91) transparent transparent transparent;
    border-radius: 260px 20%/100px 0 0 ;
}

/* MAIN CONTENT */
.card {
    padding: 30px 70px;
    text-align: center;
    margin-top: auto;
}

h2 {
    padding: 10px;
}

/* ABOUT */
.logo {
    float: left;
    width: 200px;
}

.clear {
    clear: left;
}

/* SHOP */
.boxJangane {
    float: right;
    width: 400px;
}

.caraKerja {
    padding-top: 100px;
}

ol.borderNumber {
    list-style-type: none;
    margin: 0;
    margin-left: 3em;
    padding: 0;     
    counter-reset: li-counter;
}

ol.borderNumber > li{
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 2.5em;
}

ol.borderNumber > li:before {
    top: 0;
    width: 0.9em;     
    font-size: 3em;
    line-height: 0.5;
    font-weight: bold;
    text-align: right;
    color: #00796B; 
    content: counter(li-counter);
    counter-increment: li-counter;
}

button {
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    font-family: 'Quicksand',sans-serif;
    background-color: #00796B;
    color: aliceblue;
    cursor: pointer;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button:hover {
    background-color: #a8c5aa;
}
.clear {
    clear: right;
}

/* CATEGORIZED PRODUCT */
.categorized {
    display: flex;
 
           /* Properti lainnya */
           margin: 0 auto;
}

.boxCate {
    flex-basis: 50%;
    /* background-color: #00c8eb; */
    padding: 10px;
    font-size: 1em;
    text-align: center;
}

.categorized-image{
    width: 250px;
    margin-bottom: -23px;
}

/* FOLLOW-UP (REVIEW) */
.slide-container {
    position: relative;
    background: rgb(190, 223, 193);
    border-radius: 10px;
}
.slides {
    display: none;
    padding: 40px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #85ab8d;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
    .prev:hover, .next:hover {
    color: white;
}

.review {
    float: left;
    width: 65%;
    padding: 0px 70px 10px;
}
.testimoni {
    float: left;
    width: 200px;
}

.clear {
    clear: left;
}

/* BIODATA DIRI */
aside {
    float: right;
    width: 35%;
    padding-right: 70px;
}

.profil {
    background-color: rgb(185, 218, 188);
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}
* {
    box-sizing: border-box;
}

.a-main {
    overflow: hidden;
}
/* FOOTER */
footer {
    color: white;
    background-color: #a8c5aa;
    text-align: center;
    padding: 5px;
}

@media screen and (max-width: 1000px) {
    body {
        max-width: 100%;
    }
    nav {
        width: 100%;
    }
    .container {
        display: flex;
     
               /* Properti lainnya */
               margin: 0 auto;
    }
    .double img {
        width: 100%;
        /* padding: 15%; */
        align-items: center;
    }
    .boxnav {
        flex-basis: 5%;
        padding: 2%;
        text-align: left;
    }
    .kategori {
        flex-basis: 10%;
        line-height:50%;
    }
    .double {
        flex-basis: 40%;
        text-align: center;
    }
    .profile {
        flex-basis: 10%;
        text-align: right;
    }
    .boxnav a {
        font-size: 40%;
    }
    .jumbotron {
        width: 100%;
        font-size: 90%;
    }
    .home {
        width: 50%;
    }
    .card {
        width: 100%;
        padding: 5px;
    }
    .boxJangane {
        width: 70%;
    }
    .logo {
        width: 40%;
    }
    .categorized {
        flex-direction: column;
    }
    .slide-container {
        width: 200%;
    }
    .testimoni {
        width: 100%;
    }
    aside {
        width: 100%;
        padding: 10px;
    }
    p{
        font-size: 70%;
    }
 }